<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.spectra.mapper.postgres.MonitoringMapper">
    <select id="getUnusedIndexes" resultType="indexDTO" parameterType="Map">
        SELECT relid         as relId,
               indexrelid    as indexRelId,
               schemaname    as schemaName,
               relname       as relName,
               indexrelname  as indexRelName,
               idx_scan      as idxScan,
               idx_tup_read  as idxTopRead,
               idx_tup_fetch as idxTupFetch
        FROM pg_stat_user_indexes
        WHERE idx_scan = 0
        ORDER BY indexrelid
            LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="getAllIndexesList" resultType="IndexDTO" parameterType="Map">
        SELECT schemaname, tablename, indexname, tablespace, indexdef
        FROM pg_indexes
        ORDER BY indexrelid
             LIMIT #{limit} OFFSET #{offset}
    </select>
    <select id="getSlowestQueries" resultType="queryDTO" parameterType="Map">
        SELECT
            query as query,
            calls as calls,
            total_exec_time as total_exec_time,
            min_exec_time as min_exec_time,
            mean_exec_time as mean_exec_time,
            stddev_exec_time as stddev_exec_time,
            rows as rows
        FROM
            pg_stat_statements
        ORDER BY
            mean_exec_time DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>
</mapper>
