# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.java
*.bak

# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# Gradle Wrapper
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar

# Eclipse
.metadata
*.log
*.tmp
*.bak
*.swp
*.swo
*.orig
*.rej
*.diff
*~.nib
.localstorage

# IDEs
.idea/
*.iws
*.iml
*.ipr

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nbm/

# VS Code
.vscode/

# STS
.springBeans

# Intellij IDEA
.idea/
*.iws
*.iml
*.ipr

# OS-specific files
.DS_Store
Thumbs.db

# Java Web
**/.classpath
**/.project
**/.settings/

# Classpath file
.classpath

# Other
!src/main/resources/
!src/main/resources/**/*
!src/test/resources/
!src/test/resources/**/*

src/main/frontend/build
src/main/resources/static
package-lock.json

